<div class="container" id="cont">
    <div class="col" id="not-devoured">
        <h1>ON PLATE</h1>
        <ul>
            {{#each this.results}} {{#unless devoured}}
            <li>
                {{burger_name}}
                <button type="submit" class="eat" data-id="{{id}}">eat</button>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>

    <div class="col">
        <h1>COOK UP A BURGER</h1>
        <form>
            <input id="nameInput">
            <button type="submit" id="newBurger">create</button>
        </form>
    </div>

    <div class="col" id="devoured">
        <h1>IN STOMACH</h1>
        <ul>
            {{#each this.results}} {{#if devoured}}
            <li>
                {{burger_name}}
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>
</div>



<script>
    $(".eat").click(function (event) {
        event.preventDefault();

        $.ajax("/api/burgers/" + $(this).data("id"),
            {
                type: "PUT"
            }
        ).then(
            function () {
                console.log("success");
                location.reload();
            }
        );
    })

    $("#newBurger").click(function (event) {
        event.preventDefault();

        $.ajax("/api/burgers",
            {
                type: "POST",
                data: { name: $("#nameInput").val() }
            }
        ).then(
            function () {
                console.log("success");
                location.reload();
            }
        )
    })

</script>