body {
    background-image: url("http://s1.1zoom.me/big3/355/353382-sepik.jpg");
    background-size: cover;
}


#devoured {
}

#cont {
    display:flex;
    margin: 0px;
}

.col {
    border: black;
    border-style: solid;
    width: 33%;
    padding: 5px 10px;
    height: 250px;
    background-color: yellow;
    opacity: 0.95;
}

h1 {
    text-align: center;
}

